    
    <div class="banner_announce">
      <table>
        <tr>
          <td>
      <img class="front_image" src="/images/forces_of_flight.jpg" />
          </td>
          <td>
      <div class="announce">
        <p>OpenAero is a catalog for any resources related to aviation, whatever it's a dataset, a software or manuals.</p>
        <p>This project has been sleeping for far too long since 2006. It's related to the 
           <a href="http://tldp.org/HOWTO/html_single/Aviation-HOWTO/">GNU/Linux Aviation HOWTO</a>.<p>
        <br/>
        <p>It's now being rebuilt using <a href="http://refuge.io">Refuge</a> and <a href="http://couchapp.org">Couchapp</a> to allow anybody to replicate the dataset and reformat it as it fits.</p>
      </div>
          </td>
        </tr>
      </table>
    </div>
  
