<!DOCTYPE html>

<head>
  <title>{{page_title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Opensource resources for Aviation" />
  <meta name="author" lang="en" content="Nicolas R Dufour" />
  <link rel="stylesheet" type="text/css" media="screen" href="/style/main.css" />
</head>

<body>

  <div id="page">
    <h1><a href="/">OpenAero</a></h1>
  
    <div class="announce">
      <p>OpenAero is a catalog for any resources related to aviation, whatever it's a dataset, a software or manuals.</p>
      <p>This project has been sleeping for far too long since 2005. It's related to the 
         <a href="http://tldp.org/HOWTO/html_single/Aviation-HOWTO/">GNU/Linux Aviation HOWTO</a>.<p>
      <br/>
      <p>It's now being rebuilt using <a href="http://refuge.io">Refuge</a> and <a href="http://couchapp.org">Couchapp</a> to allow anybody to replicate the dataset and reformat it as it fits.</p>
    </div>
  
    <div class="main">
      <p>Here are a few examples that what kind of resources will be provided:<p>
  
