/*
 * OpenAero Stylesheet
 */

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#page {
  margin-left: 5%;
  width: 90%;
  padding: 5px;
}

div.main {
  border: 1px solid black;
}

/*
 * Links
 */

a {
        color: #333;
        text-decoration: underline;
}
a:hover {
        color: #aaa;
        text-decoration: underline;
}

